*{
    margin: 0px;
    font-family: 'inter';
}

#logo {
    margin-left: 75px;
    margin-top: 50px;
}
#titulo-menusuperior {
    margin-left: 170px;
    margin-top: 79px;
}

#texto-menusuperior {
    margin-left: 170px;
    margin-top: 40px;
}

#menusuperior {
    background-image: url(imagens/fundo-menusuperior.svg);
    color: aliceblue;
    padding-bottom: 100px;
}




#menuinformacional {
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.icones {
    margin: 50px 0px 50px 100px;
    padding: 15px;
}

.textoicones {
    display: flex;
    align-items: center;
}

#secaovideo {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#video {
    margin: 50px 30px 50px 200px;
}

#titulo-video {
    color: #247BA0;
    margin: 50px 0px 20px 0px;
}

#texto-video{
    color: #383838;
}




#carrossel {
    background-color: #247BA0;
    padding: 70px 0px 70px 0px;
}

#texto-carrossel {
    color: #EAECE5;
    text-align: center;
    font-size: 25px;
}

#cards {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    margin-top: 50px;
}

.card{
    margin-left: 25px;
}



#seta-esquerda {
    display: none;
    margin-left: 55px;
}

#Bruna {
    display: none;
}

.setas {
    margin-top: 55px;
    cursor: pointer;
}

.setas:hover {
    transform:translateY(-7px);
    transition-duration: 0.8s;
}





#formulario {
    text-align: center;
}


#titulo-formulario {
    font-size: 25px;
    margin: 30px;
    color:#383838;
    
}


input {
    background-color: #EAECE5;
    margin: 15px;
    padding-left: 20px;
    width: 413px;
    height: 53px;
    border: 0px;
    border-radius: 13px;
    
}

button {
    background-color: #247BA0;
    color: #FFFFFF;
    padding: 15px;
    margin-bottom: 150px;
    margin-top: 20px;
    font-weight: bolder;
    width: 335px;
    height: 53px;
    border: none;
    border-radius: 13px;

    cursor: pointer;
}

button:hover {
    background-color: #1a4b5f;
    color:#dbdada;
    transform: translateY(-7px);
    transition-duration: 0.5s;
    box-shadow: 0px 10px 15px #1a4b5f;
}